html {
  box-sizing: border-box;
  word-break: break-word;
  word-wrap: break-word
}
html .xf-content-height {
  margin: 0
}

*,*:before,*:after {
  box-sizing: inherit
}

body {
  font-family: 'Noto Sans','Arial',sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.4;
  /*color: #232f3e;*/
  color: #000;
  cursor: default;
}
.bloc-header{
  background-color: #232f3e;
  width: 100%;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.3);
}

.btn_locale{
  border: 0;
  cursor: pointer;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.3);
  min-width: 20px;
  text-align: center;
  font-family: 'amz-ember-display','Arial',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  transition: all .3s ease;
  text-decoration: none;
  background-color: #232f3e;
  color: #232f3e;
  display: inline-block;
  padding: 7px 10px;

}
.btn_create_acount:hover {
  color: #232f3e;
}

.btn_create_acount {
    border: 0; 
    cursor: pointer; 
    padding: 14px 16px;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.3);
    min-width: 160px; 
    text-align: center; 
    font-family: 'amz-ember-display','Arial',sans-serif; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 1.15; 
    transition: all .3s ease; 
    text-decoration: none;
    background: #ffc400;
    color: #232f3e;
    display: inline-block;
    font-size: 15px;
    min-width: 171px;
    padding: 7px 16px;
}


.section1{
  background: rgba(35,47,63,255);
}
.section1 img{
 height: 170px;
}
.bloc_text_section1 {
  margin-left: 32px;
}
.section1 h1{
  font-family: 'Noto Sans','Arial',sans-serif;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.3;
  color: #ffffff;
}
.section1 a{
  border: 0;
  cursor: pointer;
  padding: 14px 16px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.3);
  min-width: 160px;
  text-align: center;
  font-family: 'amz-ember-display','Arial',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  transition: all .3s ease;
  text-decoration: none;
  background: #ffc400;
  color: #232f3e;
}

@media only screen and (min-width: 768px){
.title_section3 {
    padding: 0 94px 32px 94px;
    text-align: center;
}
}













.blue-bar{
  border-top: 4px solid #c6c0fd;
  padding-top: 16px;
}

.bloc_secetion3 h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  line-height: 1.3;
  color: #232f3e;
}
.bloc_section_final{
  background-color: #827af0;
  padding: 40px 26px;
}

.p_block_secetion_final{
    font-family: 'amz-ember-display','Arial',sans-serif;
    font-weight: 700;
    font-size: 27px;
    line-height: 1.3;
    color: #ffffff;
    padding-bottom: 20px;

}

.btn_block_secetion_final{
  border: 0;
  cursor: pointer;
  padding: 14px 16px;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.3);
  min-width: 160px;
  text-align: center;
  font-family: 'amz-ember-display','Arial',sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.15;
  transition: all .3s ease;
  text-decoration: none;
  background: #ffc400;
  color: #232f3e;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 20px 19px;
  background-color: #232f3e;
  }
.p-footer{
  color: #fff;
  }
